body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eedcc4;
}

h1,
h2 {
  text-align: center;
  color: #72542d;
  margin-bottom: 20px;
}

a.back-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #72542d;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a.back-button:hover {
  background-color: #a0763f;
}

.table td button {
  color: #fff;
  background-color: #72542d;
  border-color: #72542d;
  display: block;
  margin: 0 auto;
}

.table td button:hover {
  background-color: #a0763f;
  border-color: #a0763f;
}

.table th,
.table td {
  border: 1px solid #72542d;
  width: 25%;
  text-align: center;
}
.table thead tr:first-child th {
  border-bottom: 2px solid #72542d;
}

.timetable {
  border: 2px solid #72542d;
  background-color: #f8f9fa;
}

.timetable th,
.timetable td {
  width: 14.28%;
}