<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Add Subject</title>
</head>

<body>
    <div>
        <h1>Add a new subject to the timetable!</h1>
        <form action="/addSubjects" method="POST" enctype="multipart/form-data">
            <label for="code">Subject Id:</label>
            <input type="text" id="code" name="code"><br>

            <label for="name">Name:</label>
            <input type="text" id="name" name="name"><br>

            <label for="type">Type:</label>
            <select id="type" name="type">
                <option value="Előadás">Előadás</option>
                <option value="Szeminárium">Szeminárium</option>
                <option value="Labor">Labor</option>
            </select>
            <br>

            <input class="submit-button" type="submit" value="Add Subject">
        </form>
    </div>
</body>

</html>