<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Add Subject</title>
    <link rel="stylesheet" href="style/adminStyle.css">
    <script src="/validation/newSubjectValidation.js" defer></script>
</head>

<body>
    <div>
        <h1>Add a new subject to the timetable!</h1>
        <div id="message" class="message" style="display:none;"></div>
        <form id='addSubjects' action="/addSubjects" method="POST" enctype="multipart/form-data">
            <label for="code">Subject Id:</label>
            <input type="text" id="code" name="code">
            <span class="error-message" id="codeError"></span><br>

            <label for="name">Name:</label>
            <input type="text" id="name" name="name">
            <span class="error-message" id="nameError"></span><br>

            <label for="type">Type:</label>
            <select id="type" name="type">
                <option value="">Choose...</option>
                <option value="Course">Course</option>
                <option value="Seminar">Seminar</option>
                <option value="Laboratory">Latoratory</option>
            </select>
            <span class="error-message" id="typeError"></span><br>

            <input class="submit-button" type="submit" value="Add Subject">
        </form>
    </div>
    <a href="/admin" class="back-button">Back</a>
</body>

</html>