<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Add Teachers</title>
</head>

<body>
    <div>
        <h1>Add a new teacher!</h1>
        <form action="/addTeachers" method="POST" enctype="multipart/form-data">
            <label for="teacherCode">Teacher Id:</label>
            <select id="teacherCode" name="teacherCode">
                <% teachers.forEach(function(item) { %>
                    <option value="<%= item.userId %>">
                        <%= item.userId %>
                    </option>
                    <% }); %>
            </select> <br>

            <label for="type">Subject Id:</label>
            <input type="text" name="subjectCode"><br>

            <input class="submit-button" type="submit" value="Add Subject">
        </form>
    </div>
</body>

</html>