<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Admin Page</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="navbar">
        <button onclick="window.location.href='/home'">Home</button>
        <button onclick="window.location.href='/register'">Register a users</button>
        <button onclick="window.location.href='/addSubjects'">Add a new subject</button>
    </div>
    <h1>
        Welcome to the main page, admin!
    </h1>
</body>

</html>