<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Classroom's Timetable</title>
    <link rel="stylesheet" type="text/css" href="adminStyle.css">
</head>

<body>

    <h1>Classroom's timetable: </h1>
    <table class="timetable">
        <thead>
            <tr>
                <th>Subject</th>
            </tr>
        </thead>
        <tbody>
            <% classrooms.forEach(function(classroom) { %>
                <tr>
                    <td><button class="timetableButton"
                            onclick="window.location.href='/classrooms?name=<%= classroom.name %>'">
                            <%= classroom.name %>
                        </button>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <a href="javascript:history.go(-1)" class="back-button">Back</a>
</body>

</html>