<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Error message</title>
    <link rel="stylesheet" href="style/adminStyle.css">
</head>

<body>
    <h1>
        <%= message %>
    </h1>
</body>

</html>