<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Group's Timetable</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style/timetable.css">
</head>

<body>

    <div class="container">
        <h1 class="text-center mb-4">Group's timetable</h1>
        <table class="table timetable">
            <thead>
                <tr>
                    <th rowspan="2">Group Name</th>
                    <th colspan="3">Grade Level</th>
                </tr>
            </thead>
            <tbody>
                <% var uniqueNames={}; groups.forEach(function(item) { uniqueNames[item.name]=true; }); var
                    uniqueNamesArray=Object.keys(uniqueNames); uniqueNamesArray.sort();
                    uniqueNamesArray.forEach(function(name) { %>
                    <tr>
                        <td>
                            <%= name %>
                        </td>
                        <td><button class="btn btn-primary"
                                onclick="window.location.href='/group?name=<%= name %>&gradeLevel=1'">1</button></td>
                        <td><button class="btn btn-primary"
                                onclick="window.location.href='/group?name=<%= name %>&gradeLevel=2'">2</button></td>
                        <td><button class="btn btn-primary"
                                onclick="window.location.href='/group?name=<%= name %>&gradeLevel=3'">3</button></td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>

    <a href="javascript:history.go(-1)" class="btn btn-secondary back-button">Back</a>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>