<!DOCTYPE html>
<html lang="hu">

<head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
    <link rel="stylesheet" href="adminStyle.css">
</head>

<body>
    <h1>
        About me:
    </h1>
    <h4 id="username">Username: <%= userId %>
    </h4>
    <h4 id="usertype">User type: <%= type %>
    </h4>
    <a href="/admin" class="back-button">Back</a>
</body>

</html>