<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>User</title>
    <link rel="stylesheet" href="adminStyle.css">
</head>

<body>
    <h2>Register a new user to the page! </h2>
    <form id="register" action="/register" method="POST" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <span class="error-message" id="nameError"></span><br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <span class="error-message" id="passwordError"></span><br>

        <label for="userId">User Id:</label>
        <input type="text" name="userId" id="userId">
        <span class="error-message" id="userIdError"></span><br><br>

        <label for="type">User Type:</label>
        <select id="type" name="type" onchange="showAdditionalFields()">
            <option value="">Choose...</option>
            <option value="Student">Student</option>
            <option value="Teacher">Teacher</option>
        </select>
        <span class="error-message" id="typeError"></span><br>

        <div id="additionalFields" style="display: none;">
            <label for="groupId">Group:</label>
            <select id="groupId" name="groupId">
                <option value="">Choose...</option>
                <option value="611">611</option>
                <option value="621">621</option>
                <option value="631">631</option>
                <option value="411">411</option>
                <option value="421">421</option>
                <option value="431">431</option>
                <option value="511">511</option>
                <option value="512">512</option>
                <option value="513">513</option>
                <option value="514">514</option>
                <option value="521">521</option>
                <option value="522">522</option>
                <option value="523">523</option>
                <option value="524">524</option>
                <option value="531">531</option>
                <option value="532">532</option>
                <option value="533">533</option>
                <option value="534">534</option>

            </select><br><br>
        </div>

        <input class="submit-button" type="submit" value="Add">
    </form>
    <a href="/admin" class="back-button">Back</a>

    <script src="registerValidation.js" defer></script>
</body>

</html>