<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Scheduler Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/adminStyle.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/home">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/wishlists">Create the timetable</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link logout-button" href="/logout">Log out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="text-center links-container">
            <a href="/groupTimetable" class="btn btn-secondary">Group's timetable</a>
            <a href="/teacherTimetable" class="btn btn-secondary">Teacher's timetable</a>
            <a href="/subjectTimetable" class="btn btn-secondary">Subject's timetable</a>
            <a href="/classroomTimetable" class="btn btn-secondary">Classroom's timetable</a>
        </h1>
    </div>
</body>

</html>