<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Student Page</title>
    <link rel="stylesheet" href="adminStyle.css">
</head>

<body>
    <div class="navbar">
        <button onclick="window.location.href='/home'">Home</button>
        <button onclick="window.location.href='/timetable'">My Timetable</button>
        <button onclick="window.location.href='/logout'" class="logout-button">Log out</button>
    </div>
    <h1>
        Welcome to the main page, student!
    </h1>
</body>

</html>