<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Student Page</title>
    <link rel="stylesheet" href="adminStyle.css">
    <style>
        .home-button {
            background-image: url('<%= imagePath %>');
            background-size: cover;
            background-position: center;
            border: none;
            padding: 23px 40px !important;
            cursor: pointer;
            width: auto !important;
            height: auto !important;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <% if (imagePath!=null) { %>
            <button onclick="window.location.href='/home'" class="home-button"></button>
            <% } else { %>
                <button onclick="window.location.href='/home'">Home</button>
                <% } %>
                    <button onclick="window.location.href='/timetable'">My Timetable</button>
                    <button onclick="window.location.href='/logout'" class="logout-button">Log out</button>
    </div>
    <h1>
        <div class="links-container">
            <a href="/groupTimetable">Group's timetable</a>
            <a href="/teacherTimetable">Teacher's timetable</a>
            <a href="/subjectTimetable">Subject's timetable</a>
            <a href="/classroomTimetable">Classroom's timetable</a>
        </div>
    </h1>
</body>

</html>