<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Subjects's Timetable</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style/timetable.css">
</head>

<body>
    <div class="container">
        <h1>Subjects's timetable:</h1>
        <div class="row">
            <% var displayedSubjects=[]; subjects.forEach(function(subject, index) {
                if(!displayedSubjects.includes(subject.name)) { if (index> 0 && index % 3 === 0) { %>
        </div>
        <div class="row">
            <% } displayedSubjects.push(subject.name); %>
                <div class="col-sm-4">
                    <button class="table timetable" onclick="window.location.href='/subject?name=<%= subject.name %>'">
                        <%= subject.name %>
                    </button>
                </div>
                <% } }); %>
        </div>
    </div>
    <a href="javascript:history.go(-1)" class="btn btn-secondary back-button">Back</a>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>