<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Teacher Page</title>
    <link rel="stylesheet" href="adminStyle.css">
</head>

<body>
    <div class="navbar">
        <button onclick="window.location.href='/home'">Home</button>
        <button onclick="window.location.href='/addWishlists'">Create wishlist</button>
        <button onclick="window.location.href='/logout'" class="logout-button">Log out</button>
    </div>
    <h1>
        Welcome to the main page, teacher!
    </h1>
</body>

</html>