<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Teacher's Timetable</title>
    <link rel="stylesheet" type="text/css" href="adminStyle.css">
</head>

<body>

    <h1>Teacher's timetable: </h1>
    <table class="timetable">
        <thead>
            <tr>
                <th>Teacher</th>
            </tr>
        </thead>
        <tbody>
            <% teachers.forEach(function(teacher) { %>
                <tr>
                    <td><button class="timetableButton"
                            onclick="window.location.href='/teachers?name=<%= teacher.name %>&id=<%= teacher.id %>'">
                            <%= teacher.name %>
                        </button>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
    <a href="javascript:history.go(-1)" class="back-button">Back</a>
</body>

</html>