<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Teacher's Timetable</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style/timetable.css">
</head>

<body>

    <div class="container">
        <h1>Teacher's timetable: </h1>
        <div class="row">
            <% teachers.forEach(function(teacher, index) { %>
                <div class="col-md-4">
                    <button class="table timetable" onclick="window.location.href='/teachers?name=<%= teacher.name %>'">
                        <%= teacher.name %>
                    </button>
                </div>
                <% if ((index + 1) % 3===0) { %>
        </div>
        <div class="row">
            <% } %>
                <% }); %>
        </div>
    </div>

    <a href="javascript:history.go(-1)" class="btn btn-secondary back-button">Back</a>
</body>

</html>