<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Teacher Page</title>
    <link rel="stylesheet" href="adminStyle.css">
</head>

<body>
    <div class="navbar">
        <button onclick="window.location.href='/home'">Home</button>
        <button onclick="window.location.href='/addWishlists'">Create wishlist</button>
        <button onclick="window.location.href='/logout'" class="logout-button">Log out</button>
    </div>
    <h1>
        <div class="links-container">
            <a href="/groupTimetable">Group's timetable</a>
            <a href="/teacherTimetable">Teacher's timetable</a>
            <a href="/subjectTimetable">Subject's timetable</a>
            <a href="/classroomTimetable">Classroom's timetable</a>
        </div>
    </h1>
</body>

</html>