<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Teachers</title>
</head>

<body>

    <h1>Teachers: </h1>
    <% teachers.forEach(function(item) { %>
        <div>
            <h2>
                <%= item.name %>
            </h2>
            <p>Teacher Id:
                <%= item.id %>
            </p>
            <% if (item.subjectId) { %>
                <p>Subject Id: <%= item.subjectId %>
                </p>
                <% } %>
                    <div></div>
        </div>
        <% }); %>

</body>

</html>