<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Subjects</title>
    <link rel="stylesheet" href="style/adminStyle.css">
</head>

<body>

    <h1>Registered users: </h1>
    <div class="filter-container">
        <label for="userTypeFilter">Filter by User Type:</label>
        <select id="userTypeFilter" class="filter">
            <option value="all">All Users</option>
            <option value="Teacher">Teachers Only</option>
            <option value="Student">Students Only</option>
        </select>
    </div>

    <div class="container">
        <% users.sort((a, b)=> a.name.localeCompare(b.name)).forEach(function(item) { %>
            <div class="sub-cont user-type-<%= item.type %>">
                <h2>
                    <%= item.name %>
                </h2>
                <p>User Id:
                    <%= item.userId %>
                </p>
                <p>User type: <%= item.type %>
                </p>
                <div></div>
            </div>
            <% }); %>
    </div>

    <script src="validation/filterUsers.js" defer></script>
    <a href="/admin" class="back-button">Back</a>

</body>

</html>