body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E4D2BA;
}

h1, h2 {
    text-align: center;
    color: #72542D;
    margin-top: 20px;
}

form {
    width: 300px;
    margin: 0 auto;
    background-color: #F4E5D3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #72542D;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #72542D
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #D2B48C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #A0763F;
}

.error-message {
    color: red;
    font-size: 12px;
}
