body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E4D2BA;
}

h1, h2 {
    text-align: center;
    color: #72542D;
    margin-bottom: 20px;

}

.timetable {
    width: 100%;
    border-collapse: collapse;
}

.timetable th,
.timetable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.timetable th {
    background-color: #f2f2f2;
}

.timetable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.timetable tr:hover {
    background-color: #ddd;
}

a.back-button {
    position: fixed; 
    top: 20px; 
    left: 20px; 
    background-color: #72542D; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

a.back-button:hover {
    background-color: #A0763F; 
}