body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E4D2BA;
}

h1 {
    text-align: center;
    color: #72542D;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 800px;
}

.sub-cont {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
}

.sub-cont h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #72542D;
}

.sub-cont p {
    margin: 0;
    color: #A0763F;
}
